/*
!.asdf
!.gitignore
!.vimrc
!.bashrc
!.vim/
!.config/lvim/
!.config/nvim/
!.config/lazygit/
!.config/tmux/
!.tmux.conf
!.tmux.conf/themes/agnoster.zsh-theme
!tmux.conf
!.oh-my-zsh
!.zshrc
!./bin/
!.tmux
